 .site-footer {
  background-color: #D9B08C;  
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.site-footer a {
  display: block;
  color: #333;
  text-decoration: underline;
  margin-bottom: 4px;
  
}

.footer-logo {
  display: block;
  margin-bottom: 10px;
}

.footer-right a:last-child {
  margin-bottom: 0px;
}

.footer-left{
  display: flex;
  align-items: center; 
}

